server:
  port: 8085

spring:
  application:
    name: galileo-analytics
  datasource:
    url: jdbc:postgresql://localhost:5435/db_galileo_analytics
    username: galileo
    password: galileo_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  cloud:
    compatibility-verifier:
      enabled: false
  quartz:
    job-store-type: memory
    properties:
      org:
        quartz:
          threadPool:
            threadCount: 3

# Services URLs pour Feign
services:
  lecture:
    url: http://localhost:8081
  ecriture:
    url: http://localhost:8082

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.galileo: DEBUG

