spring:
  # Configuration pour les uploads volumineux
  codec:
    max-in-memory-size: 50MB
  
  cloud:
    gateway:
      routes:
        # Profil équipe (GET/POST authentifié) - AVANT les routes publiques !
        - id: team-profile
          uri: http://lecture:8081
          predicates:
            - Path=/api/team/profile/**
          filters:
            - StripPrefix=1
            - name: FirebaseAuthenticationFilter
          order: -10
        
        # Publications, Blog, Événements, Équipe, Recherche (GET public)
        - id: service-lecture-public
          uri: http://lecture:8081
          predicates:
            - Path=/api/publications/**,/api/articles/**,/api/blog/**,/api/events/**,/api/team/**,/api/search/**
            - Method=GET
          filters:
            - StripPrefix=1
        
        # Événements et Équipe (POST/PUT/DELETE - authentifié)
        - id: service-lecture-admin
          uri: http://lecture:8081
          predicates:
            - Path=/api/events/**,/api/team/**
            - Method=POST,PUT,DELETE
          filters:
            - StripPrefix=1
            - name: FirebaseAuthenticationFilter
        
        # Indexation (POST)
        - id: service-lecture-indexation
          uri: http://lecture:8081
          predicates:
            - Path=/api/indexation/**
          filters:
            - StripPrefix=1
        
        # Auto-inscription publique (sans vérification de rôle)
        - id: self-register
          uri: http://ecriture:8082
          predicates:
            - Path=/api/admin/users/self-register
            - Method=POST
          filters:
            - StripPrefix=1
            - name: FirebaseAuthenticationFilter
          order: 0
        
        # Upload/gestion des photos de profil
        - id: profile-photos
          uri: http://ecriture:8082
          predicates:
            - Path=/api/profile/**
          filters:
            - StripPrefix=1
            - name: FirebaseAuthenticationFilter
        
        # Service Écriture
        - id: service-ecriture
          uri: http://ecriture:8082
          predicates:
            - Path=/api/soumissions/**,/api/admin/**
          filters:
            - StripPrefix=1
            - name: FirebaseAuthenticationFilter

firebase:
  enabled: true
  credentials:
    path: config/firebase-credentials.json
